In [2]:
import pandas as pd
import sqlite3

In [3]:
# creating database connection
conn = sqlite3.connect('inventory.db')

In [4]:
# checking tables present in database
tables = pd.read_sql_query("SELECT name from sqlite_master where type = 'table'",conn)
tables

                   name
0  vendor_sales_summary
1       begin_inventory
2         end_inventory
3             purchases
4       purchase_prices
5                 sales
6        vendor_invoice

In [5]:
for table in tables['name'] :
    print('-'*50 , f'{table}', '-'*50)
    print('Count of records:',pd.read_sql_query(f"select count(*) as count from {table}",conn)['count'].values[0])
    display(pd.read_sql_query(f'select * from {table} limit 5',conn))

-------------------------------------------------- vendor_sales_summary --------------------------------------------------
Count of records: 10514

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_Price,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,SalesPrice,TotalSalesQuantity,TotalSalesDollars,TotalExciseTax,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,1750.0,26.27,36.99,145080,3811251.60,68601.68,35.99,142049,5101919.51,260999.20,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,1750.0,23.19,28.99,164038,3804041.22,144929.24,29.99,160247,4819073.49,294438.66,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,1750.0,18.24,24.99,187407,3418303.68,123780.22,24.99,187140,4538120.60,343854.07,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,1750.0,16.17,22.99,201682,3261197.94,257032.07,21.99,200412,4475972.88,368242.80,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,1750.0,21.89,29.99,138109,3023206.01,257032.07,31.99,135838,4223107.62,249587.83,1199901.61,28.412764,0.983556,1.396897

-------------------------------------------------- begin_inventory --------------------------------------------------
Count of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Count of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Count of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Count of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Count of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Count of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

In [6]:
purchases =pd.read_sql_query('select * from purchases where VendorNumber = 4466',conn)
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [7]:
purchase_price = pd.read_sql('select * from purchase_prices where VendorNumber=4466 ',conn)
purchase_price

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
1,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE
2,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE

In [8]:
sales = pd.read_sql('select * from sales where VendorNo =4466',conn)
sales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-12,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-15,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,1_HARDERSFIELD_5215,1,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-01-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,9_BLACKPOOL_5215,9,5215,TGI Fridays Long Island Iced,1.75L,1,12.99,12.99,2024-12-21,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [9]:
vendor_invoice = pd.read_sql ('select * from vendor_invoice where VendorNumber =4466 ',conn)
vendor_invoice

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [10]:
purchases

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
1,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
2,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
3,38_GOULCREST_5215,38,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-07,2024-01-19,2024-02-26,9.41,6,56.46,1
4,59_CLAETHORPES_5215,59,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8207,2023-12-27,2024-01-05,2024-01-19,2024-02-26,9.41,6,56.46,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,81_PEMBROKE_5215,81,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-29,2025-01-04,2025-02-10,9.41,6,56.46,1
2188,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2189,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.41,5,47.05,1
2190,6_GOULCREST_5215,6,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-31,2025-01-04,2025-02-10,9.41,6,56.46,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [11]:
purchases.groupby(['Brand','PurchasePrice'], as_index=False)[['Quantity','Dollars']].sum()

   Brand  PurchasePrice  Quantity   Dollars
0   3140          11.19      4640  51921.60
1   5215           9.41      4923  46325.43
2   5255           9.35      6215  58110.25

In [12]:
purchases.groupby(['Brand','PurchasePrice']).agg({'Quantity':'sum','Dollars':'sum'}).reset_index()

   Brand  PurchasePrice  Quantity   Dollars
0   3140          11.19      4640  51921.60
1   5215           9.41      4923  46325.43
2   5255           9.35      6215  58110.25

In [13]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [14]:
vendor_invoice['PONumber'].nunique()

55

In [15]:
vendor_invoice.shape

(55, 10)

In [16]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [17]:
sales.groupby(['Brand'],as_index=False).agg({'SalesDollars':'sum','SalesQuantity':'sum'})

   Brand  SalesDollars  SalesQuantity
0   3140      50531.10           3890
1   5215      60416.49           4651
2   5255      79187.04           6096

In [18]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [19]:
Freight_summary = pd.read_sql ("select VendorNumber , VendorName , sum(Freight) as Freight from vendor_invoice Group By VendorNumber",conn)

In [20]:
Freight_summary

     VendorNumber                               VendorName  Freight
0               2  IRA GOLDMAN AND WILLIAMS, LLP              27.08
1              54              AAPER ALCOHOL & CHEMICAL CO     0.48
2              60              ADAMBA IMPORTS INTL INC       367.52
3             105              ALTAMAR BRANDS LLC             62.39
4             200              AMERICAN SPIRITS EXCHANGE       6.19
..            ...                                      ...      ...
121         98450              Serralles Usa LLC             856.02
122         99166              STARK BREWING COMPANY         130.09
123        172662                 SWEETWATER FARM            178.34
124        173357              TAMWORTH DISTILLING           202.50
125        201359              FLAVOR ESSENCE INC              0.09

[126 rows x 3 columns]

In [21]:
Purchase_summary = pd.read_sql_query("""SELECT
p.VendorNumber,
p.VendorName,
p.Brand,
p.PurchasePrice,sum(p.Quantity) as Total_Quantity
,sum(p.Dollars) as Total_Cost,
pp.Volume,
pp.Price as ActualPrice
from Purchases p join
Purchase_Prices pp
ON p.Brand = pp.Brand
where p.PurchasePrice >0 
GROUP BY p.Brand , p.VendorNumber, p.VendorName 
ORDER BY p.PurchasePrice
""",conn)

In [22]:
Purchase_summary

,VendorNumber,VendorName,Brand,PurchasePrice,Total_Quantity,Total_Cost,Volume,ActualPrice
0,8004,SAZERAC CO INC,3265,0.36,48651,17514.36,50,0.49
1,8004,SAZERAC CO INC,5708,0.38,66026,25089.88,50,0.49
2,8004,SAZERAC CO INC,5683,0.39,6,2.34,50,0.49
3,8004,SAZERAC CO INC,5877,0.62,36149,22412.38,50,0.99
4,10754,PERFECTA WINES,902,0.64,24,15.36,375,0.99
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,1251,2661.86,7,18633.02,750,3699.99
10688,3664,WILLIAM GRANT & SONS INC,8385,2713.17,1,2713.17,750,3499.99
10689,8112,MOET HENNESSY USA INC,423,3352.93,3,10058.79,750,4559.99
10690,8112,MOET HENNESSY USA INC,2367,4264.70,2,8529.40,1000,5799.99
10691,9165,ULTRA BEVERAGE COMPANY LLP,3949,5681.81,3,17045.43,750,7499.99

In [23]:
import time

In [24]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [25]:
start = time.time()
sales_summary =pd.read_sql_query("""
SELECT Brand,
SalesPrice,
sum(SalesQuantity) as TotalSalesQuantity,
sum(SalesDollars) as TotalSalesDollars,
sum(ExciseTax) as TotalExciseTax
from sales
Group by VendorNo , VendorName , Brand 
Order by SalesPrice""",conn)

end= time.time()
timetaken = end-start
print(f'(total time taken to run this query is {timetaken} seconnds')

(total time taken to run this query is 66.4181056022644 seconnds

In [26]:
sales_summary

,Brand,SalesPrice,TotalSalesQuantity,TotalSalesDollars,TotalExciseTax
0,3265,0.49,48649,23838.01,2552.48
1,5287,0.49,2,0.98,0.10
2,5341,0.49,11,5.39,0.58
3,5683,0.49,134,65.66,7.04
4,540,0.99,4657,4610.43,239.91
...,...,...,...,...,...
11267,8385,3499.99,1,3499.99,0.79
11268,1251,3699.99,1,3699.99,0.79
11269,423,4696.99,4,18787.96,3.16
11270,1991,4999.99,2,9999.98,1.58
11271,2367,5799.99,1,5799.99,1.05

In [27]:
purchase_price.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [28]:
vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [29]:
sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [30]:
start1 = time.time()

vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
SELECT 
   VendorNumber , 
   sum(Freight) AS FreightCost
   FROM vendor_invoice
   Group by VendorNumber
   ),

PurchaseSummary AS (
SELECT 
   p.Brand,
   p.Description,
   p.VendorNumber,
   p.VendorName,
   p.PurchasePrice,
   pp.Volume,
   pp.Price AS Actual_Price,
   sum(p.Dollars) AS TotalPurchaseDollars,
   sum(p.Quantity) AS TotalPurchaseQuantity
   FROM purchases p JOIN
      purchase_prices pp
     ON p.Brand = pp.Brand
     where p.PurchasePrice > 0
     Group by
     p.VendorNumber , p.Brand, p.Description, p.PurchasePrice, pp.Price,pp.Volume
     
),

SalesSummary AS (
  SELECT
  VendorNo,
  Brand,
  sum(SalesQuantity) AS TotalSalesQuantity,
  sum(SalesDollars) AS TotalSalesDollars,
  SalesPrice,
  sum(ExciseTax) AS TotalExciseTax
  FROM sales
  Group by VendorNo , Brand)

SELECT 
 ps.VendorNumber ,
 ps.VendorName,
 ps.Brand,
 ps.Description,
 ps.Volume,
 ps.PurchasePrice,
 ps.Actual_Price,
 ps.TotalPurchaseQuantity,
 ps.TotalPurchaseDollars,
 fs.FreightCost,
 ss.SalesPrice,
 ss.TotalSalesQuantity,
 ss.TotalSalesDollars,
 ss.TotalExciseTax
 FROM PurchaseSummary ps JOIN
   SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo AND ps.Brand = ss.Brand
      JOIN FreightSummary fs 
    ON fs.VendorNumber = ps.VendorNumber

    ORDER BY ps.TotalPurchaseDollars DESC """,conn)
    


end1 = time.time()
print(f'Total Time Taken {(end1-start1)/60} minutes')

Total Time Taken 1.164601731300354 minutes

In [31]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_Price,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,SalesPrice,TotalSalesQuantity,TotalSalesDollars,TotalExciseTax
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,1750,26.27,36.99,145080,3811251.60,68601.68,35.99,142049,5101919.51,260999.20
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,1750,23.19,28.99,164038,3804041.22,144929.24,29.99,160247,4819073.49,294438.66
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,1750,18.24,24.99,187407,3418303.68,123780.22,24.99,187140,4538120.60,343854.07
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,1750,16.17,22.99,201682,3261197.94,257032.07,21.99,200412,4475972.88,368242.80
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,1750,21.89,29.99,138109,3023206.01,257032.07,31.99,135838,4223107.62,249587.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10509,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,750,1.32,4.99,2,2.64,27100.41,1.99,5,15.95,0.55
10510,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,50,0.39,0.49,6,2.34,50293.62,0.49,134,65.66,7.04
10511,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,50,0.74,0.99,2,1.48,14069.87,0.99,2,1.98,0.10
10512,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,200,1.47,1.99,1,1.47,257032.07,1.99,72,143.28,15.12
10513,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,50,0.71,0.99,1,0.71,38994.78,0.99,86,85.14,4.46

In [32]:
# Checking the data types of columns
vendor_sales_summary.dtypes

VendorNumber               int64
VendorName                object
Brand                      int64
Description               object
Volume                    object
PurchasePrice            float64
Actual_Price             float64
TotalPurchaseQuantity      int64
TotalPurchaseDollars     float64
FreightCost              float64
SalesPrice               float64
TotalSalesQuantity         int64
TotalSalesDollars        float64
TotalExciseTax           float64
dtype: object

In [33]:
vendor_sales_summary.isnull().sum()
''' As we can clearly see this table does not have any null value , it means there is not any null if there is null value then we have to replace it with
0 with the help of using this code'''
# vendor_sales_summary.fillna(0,inplace =True)

' As we can clearly see this table does not have any null value , it means there is not any null if there is null value then we have to replace it with\n0 with the help of using this code'

In [34]:
vendor_sales_summary['VendorName'].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'STOLI GROUP,(USA) LLC      ', 'PROXIMO SPIRITS INC.       ',
       'MOET HENNESSY USA INC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'M S WALKER INC             ', 'SAZERAC NORTH AMERICA INC. ',
       'PALM BAY INTERNATIONAL INC ', 'REMY COINTREAU USA INC     ',
       'SIDNEY FRANK IMPORTING CO  ', 'E & J GALLO WINERY         ',
       'WILLIAM GRANT & SONS INC   ', 'HEAVEN HILL DISTILLERIES   ',
       'DISARONNO INTERNATIONAL LLC', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'SOUTHERN WINE & SPIRITS NE ',
       'STE MICHELLE WINE ESTATES  ', 'TRINCHERO FAMILY ESTATES   ',
       'MHW LTD                    ', 'WINE GROUP INC             ',
       'PERFECTA WINES             ', 'LUXCO INC                  ',
       'TREASURY WINE ESTATES      ', 'DIAGEO CHATEAU ESTATE WINES',
       'SHAW ROSS INT L IMP LTD    ', 'PINE STATE TRADING CO      ',
       'PHILLIPS PRODUCTS CO.      ', 'CALEDONIA SPIRITS INC      ',
       'STATE WINE & SPIRITS   ', 'KOBRAND CORPORATION        ',
       'BANFI PRODUCTS CORP        ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'FABRIZIA SPIRITS LLC       ',
       'DUGGANS DISTILLED PRODUCTS ', 'Serralles Usa LLC          ',
       'SEA HAGG DISTILLERY LLC    ', 'OLE SMOKY DISTILLERY LLC   ',
       'VRANKEN AMERICA            ', 'KLIN SPIRITS LLC           ',
       'LAIRD & CO                 ', 'ADAMBA IMPORTS INTL INC    ',
       'LATITUDE BEVERAGE COMPANY  ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'MARSALLE COMPANY           ',
       'AMERICAN VINTAGE BEVERAGE  ', 'MANGO BOTTLING INC         ',
       'SWEET BABY VINEYARD        ', 'NICHE W & S                ',
       'LABELLE VYDS AND WINERY    ', 'FLAG HILL WINERY & VINEYARD',
       'SMOKY QUARTZ DISTILLERY LLC', 'PREMIUM PORT WINES, INC.   ',
       'Russian Standard Vodka     ', 'Dunn Wine Brokers          ',
       'WEIN BAUER INC             ', 'BULLY BOY DISTILLERS       ',
       'ATLANTIC IMPORTING COMPANY ', 'PREMIER DISTRIBUTORS       ',
       'VINILANDIA USA             ', 'PARK STREET IMPORTS LLC    ',
       'TAKARA SAKE USA INC        ', 'SEA BREEZE CELLARS LLC     ',
       'STARK BREWING COMPANY      ', 'TY KU LLC                  ',
       'PSP WINES ', 'TAMWORTH DISTILLING        ',
       'ZORVINO VINEYARDS          ', 'SOUTHERN GLAZERS W&S OF NE ',
       'HOOD RIVER DISTILLERS, Inc.', 'CRUSH WINES                ',
       'POVERTY LANE ORCHARDS      ', 'DJINN SPIRITS LLC          ',
       'MOONLIGHT MEADERY          ', 'TALL SHIP DISTILLERY LLC   ',
       'FORTUNE WINE BROKERS LLC   ', 'BLACK COVE BEVERAGES       ',
       'VINEXTRA INC               ', 'SURVILLE ENTERPRISES CORP  ',
       'JEWELL TOWNE VINEYARDS     ', 'SWEETWATER FARM         ',
       'MARTIGNETTI COMPANIES ', 'ALTAMAR BRANDS LLC         ',
       'CANDIA VINEYARDS           ', 'INCREDIBREW INC            ',
       'ALISA CARR BEVERAGES           ', 'STELLAR IMPORTING CO LLC   ',
       'FULCHINO VINEYARD INC      ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'Circa Wines                ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'VINEYARD BRANDS LLC        ',
       'THE IMPORTED GRAPE LLC     ', 'WALPOLE MTN VIEW WINERY    ',
       'GILMANTON WINERY & VINEYARD', 'HAUNTING WHISPER VYDS      ',
       'STAR INDUSTRIES INC.       ', 'LOYAL DOG WINERY           ',
       'R.P.IMPORTS INC            ', 'THE PIERPONT GROUP LLC     ',
       'APPOLO VINEYARDS LLC       ', 'BLACK ROCK SPIRITS LLC     ',
       'CENTEUR IMPORTS LLC        ', 'HIGHLAND WINE MERCHANTS LLC',
       'AMERICAN SPIRITS EXCHANGE  ', 'UNCORKED       ',
       'BRONCO WINE COMPANY        ', 'MILTONS DISTRIBUTING CO    ',
       'TRUETT HURST               ', 'FANTASY FINE WINES CORP    ',
       'SILVER MOUNTAIN CIDERS     ', 'CAPSTONE INTERNATIONAL     ',
       'FLAVOR ESSENCE INC         '], dtype=object)

In [35]:
vendor_sales_summary['Description'].unique()

array(['Jack Daniels No 7 Black', "Tito's Handmade Vodka",
       'Absolut 80 Proof', ..., 'Crown Royal Apple',
       'Concannon Glen Ellen Wh Zin', 'The Club Strawbry Margarita'],
      shape=(9483,), dtype=object)

In [36]:
# Changing Volume datatype from object to float
vendor_sales_summary['Volume']= vendor_sales_summary['Volume'].astype('float64')

In [37]:
# Striping the VendorName Columns to strip the spaces
vendor_sales_summary['VendorName'] = vendor_sales_summary['VendorName'].str.strip()

In [38]:
vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']

In [39]:
vendor_sales_summary['GrossProfit'].min()

np.float64(-52002.780000000006)

In [40]:
vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100

In [41]:
vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']

In [42]:
vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']

In [43]:
cursor = conn.cursor()

In [51]:
cursor.execute(""" CREATE TABLE vendor_sales_summary(
VendorNumber INT,
VendorName VARCHAR(100),
Brand INT,
Description VARCHAR(100),
Volume DECIMAL (10,2),
PurchasePrice DECIMAL(10,2),
Actual_Price DECIMAL(10,2),
TotalPurchaseQuantity INT,
TotalPurchaseDollars DECIMAL(15,2),
FreightCost DECIMAL(15,2),
SalesPrice DECIMAL(15,2),
TotalSalesQuantity INT, 
TotalSalesDollars DECIMAL(15,2),
TotalExciseTax DECIMAL(15,2),
GrossProfit DECIMAL(15,2), 
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2), 
SalesToPurchaseRatio DECIMAL(15,2),
PRIMARY KEY (VendorNumber , Brand)
);
""")

OperationalError: table vendor_sales_summary already exists

In [56]:
pd.read_sql("select * from vendor_sales_summary",conn)

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_Price,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,SalesPrice,TotalSalesQuantity,TotalSalesDollars,TotalExciseTax
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,1750.0,26.27,36.99,145080,3811251.60,68601.68,35.99,142049,5101919.51,260999.20
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,1750.0,23.19,28.99,164038,3804041.22,144929.24,29.99,160247,4819073.49,294438.66
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,1750.0,18.24,24.99,187407,3418303.68,123780.22,24.99,187140,4538120.60,343854.07
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,1750.0,16.17,22.99,201682,3261197.94,257032.07,21.99,200412,4475972.88,368242.80
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,1750.0,21.89,29.99,138109,3023206.01,257032.07,31.99,135838,4223107.62,249587.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10509,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,750.0,1.32,4.99,2,2.64,27100.41,1.99,5,15.95,0.55
10510,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,50.0,0.39,0.49,6,2.34,50293.62,0.49,134,65.66,7.04
10511,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,50.0,0.74,0.99,2,1.48,14069.87,0.99,2,1.98,0.10
10512,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,200.0,1.47,1.99,1,1.47,257032.07,1.99,72,143.28,15.12
10513,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,50.0,0.71,0.99,1,0.71,38994.78,0.99,86,85.14,4.46

In [57]:
vendor_sales_summary.to_sql('vendor_sales_summary' , conn , if_exists='replace' , index=False)

10514

In [58]:
vendor_sales_summary.head()

,VendorNumber,VendorName,Brand,Description,Volume,PurchasePrice,Actual_Price,TotalPurchaseQuantity,TotalPurchaseDollars,FreightCost,SalesPrice,TotalSalesQuantity,TotalSalesDollars,TotalExciseTax,GrossProfit,ProfitMargin,StockTurnover,SalesToPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,1750.0,26.27,36.99,145080,3811251.60,68601.68,35.99,142049,5101919.51,260999.20,1290667.91,25.297693,0.979108,1.338647
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,1750.0,23.19,28.99,164038,3804041.22,144929.24,29.99,160247,4819073.49,294438.66,1015032.27,21.062810,0.976890,1.266830
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,1750.0,18.24,24.99,187407,3418303.68,123780.22,24.99,187140,4538120.60,343854.07,1119816.92,24.675786,0.998575,1.327594
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,1750.0,16.17,22.99,201682,3261197.94,257032.07,21.99,200412,4475972.88,368242.80,1214774.94,27.139908,0.993703,1.372493
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,1750.0,21.89,29.99,138109,3023206.01,257032.07,31.99,135838,4223107.62,249587.83,1199901.61,28.412764,0.983556,1.396897

In [55]:
import sqlite3
import pandas as pd
import logging
from Ingestion_data import ingest_data
import time


logging.basicConfig(
    filename ="Ex_log/get_vendor_summary.logs",
    level =logging.DEBUG,
    format = "%{asctime)s - %{levelname}s - %{message}s",
    filemode ="a"
)
start = time.time()
def create_vendor_summary(conn):
    '''this function will merge the different tables to get the overall summary and adding new required columns in the resultant data'''
    
    vendor_sales_summary = pd.read_sql_query("""WITH FreightSummary AS (
    SELECT 
          VendorNumber , 
          sum(Freight) AS FreightCost
          FROM vendor_invoice
          Group by VendorNumber
    ),

    PurchaseSummary AS (
    SELECT 
          p.Brand,
          p.Description,
          p.VendorNumber,
    p.VendorName,
    p.PurchasePrice,
    pp.Volume,
    pp.Price AS Actual_Price,
    sum(p.Dollars) AS TotalPurchaseDollars,
    sum(p.Quantity) AS TotalPurchaseQuantity
    FROM purchases p JOIN
       purchase_prices pp
      ON p.Brand = pp.Brand
      where p.PurchasePrice > 0
      Group by
      p.VendorNumber , p.Brand, p.Description, p.PurchasePrice, pp.Price,pp.Volume
     ),

    SalesSummary AS (
    SELECT
    VendorNo,
    Brand,
    sum(SalesQuantity) AS TotalSalesQuantity,
    sum(SalesDollars) AS TotalSalesDollars,
    SalesPrice,
    sum(ExciseTax) AS TotalExciseTax
    FROM sales
    Group by VendorNo , Brand)

    SELECT 
   ps.VendorNumber ,
   ps.VendorName,
   ps.Brand,
   ps.Description,
   ps.Volume,
   ps.PurchasePrice,
   ps.Actual_Price,
   ps.TotalPurchaseQuantity,
   ps.TotalPurchaseDollars,
   fs.FreightCost,
   ss.SalesPrice,
   ss.TotalSalesQuantity,
   ss.TotalSalesDollars,
   ss.TotalExciseTax
   FROM PurchaseSummary ps JOIN
   SalesSummary ss
    ON ps.VendorNumber = ss.VendorNo AND ps.Brand = ss.Brand
      JOIN FreightSummary fs 
    ON fs.VendorNumber = ps.VendorNumber

    ORDER BY ps.TotalPurchaseDollars DESC """,conn)
   
    return vendor_sales_summary
    

    

def clean_data(df):
    ''' This function will clean the data'''
    # changing the datatype to float
    df['Volume']= df['Volume'].astype('float64')

    # filling missing values from null to 0
    df.fillna(0, inplace=True)

    # Removing spaces from categorical values
    df['VendorName'] = df['VendorName'].str.strip()
    df['Description'] = df['Description'].str.strip()

    # Creating new Columns for better Analysis
    vendor_sales_summary['GrossProfit'] = vendor_sales_summary['TotalSalesDollars'] - vendor_sales_summary['TotalPurchaseDollars']
    vendor_sales_summary['ProfitMargin'] = (vendor_sales_summary['GrossProfit']/vendor_sales_summary['TotalSalesDollars'])*100
    vendor_sales_summary['StockTurnover'] = vendor_sales_summary['TotalSalesQuantity']/vendor_sales_summary['TotalPurchaseQuantity']
    vendor_sales_summary['SalesToPurchaseRatio'] = vendor_sales_summary['TotalSalesDollars']/vendor_sales_summary['TotalPurchaseDollars']


    return df
    
end = time.time()
total_time = (end-start)/60

if __name__ == '__main__':
    # Creating Database Connection
    conn = sqlite3.connect('inventory.db')

    logging.info("Creating Vendor Summary Table.....")
    summary_df = create_vendor_summary(conn)
    logging.info(summary_df.head())

    logging.info("Cleaning Data.....")
    clean_df = clean_data(summary_df)
    logging.info(clean_df.head())

    logging.info("Ingesting Data......")
    ingest_data(clean_df , 'vendor_sales_summary' , conn)
    logging.info(f'Completed \n Time taken for merging and cleaning tables are{total_time} minutes')